:root {
	--paleg: #579457;
	--lightg: #2D4D2D;
	--shinyg: #008A00;
	--darkg: #133313;	
}

body {
	background:black;
	font-family: cursive;
}

h1, h2, h3, h4 {
	color: var(--shinyg);
}

div#main {
	width: 80%;
	margin: auto;
	margin-top: 100px;
	padding: 15px;
	text-align: left;
	border: 1px solid var(--paleg);
}
div#menu {
	width: 90%;
	margin: auto;
	margin-top: 25px;
	align-items: center;
}

p {
	color: var(--shinyg);
	font-size: 16px;
}

ul {
	list-style: none;
	margin: auto;
	padding: 5px;
}

ul li {
	float: left;
	margin-right: 5px;
	width: 200px;
	height: 40px;
	background-color: var(--darkg);
	opacity: 0.9;
	line-height: 40px;
	text-align: center;
	font-size: 22px;
}

ul li a {
	text-decoration:none;
	color: var(--paleg);
	display: block;
}

ul li a:hover {
	background-color: var(--lightg);
	text-shadow:2px 2px 2px var(--shinyg);
}

ul li ul li {
	display: none;
	background-color: var(--lightg);
}

ul li:hover ul li {
	display: block;
}


