body {
	background:#050505;
}

#menu {
	background:#130000;
	height:200px;
	width:flex;
	text-align: center;
	border-radius: 20px;
}

a {
	color:white;
	background-color:black;
	border: 1px solid white;
	margin: 10 20 10 20;
	font-size: 16px;
	font-family: Monospace;
}

a:visited {
	color:gray;
}

a:hover {
	color:white;
}

a:active {
	color:lightgreen;
}

