body {
	background:black;
	font-family: cursive;
}

h1, h2, h3, h4 {
	color: white;
}

p {
	color: white;
	font-size: 16px;
}

#menu {
	background:#130000;
	height:200px;
	width:flex;
	text-align: center;
	vertical-align: bottom;
	border-radius: 25px;
}

ul.menu {
	list-style-type: none;
	margin: 0;
	padding: 5px;
}

.button {
	padding: 12px 28px;
	font-size: 20px;
	text-align: center;
}

a {
	color:white;
	background-color:black;
	margin: 5px 10px;
	font-size: 16px;
	font-family: Monospace;
	text-decoration: none;
	box-shadow: 1px 5px 4px grey;
}

a:visited {
	color:gray;
	box-shadow: 1px 5px 4px grey;
}

a:hover {
	color:lightgreen;
	box-shadow: 1px 5px 4px lightgreen;
}

a:active {
	color:lightgreen;
}

