.ctaLink {
	&:before,
	&:after,
	span:before,
	span:after {
		content: '';
		position: absolute;
		width: 0;
		height: 0;
		background: hsl(var(--main-font-color));
		transition: 0.6s;
		mix-blend-mode: difference;
	}
	&:before {
		top: 0;
		left: 0;
	}
	&:after {
		top: 0;
		right: 0;
	}
	span:before {
		bottom: 0;
		left: 0;
	}
	span:after {
		bottom: 0;
		right: 0;
	}

	&:hover:before,
	&:hover:after,
	&:hover span:before,
	&:hover span:after {
		width: 50%;
		height: 50%;
	}
}
