.heroImg {
  border-radius: 50%;
}

.glass {
  --bg-color: hsla(120, 100%, 5%, 0.35);
  background-color: var(--bg-color);
  border: 1px solid hsl(var(--main-font-color));
}

.ctaLink {
  display: inline-block;
  position: relative;
  padding: 5px 35px;
  max-width: 150px;
  background: hsl(var(--main-background-color));
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  line-height: 2.2em;
  font-size: 1.25rem;
  font-weight: bold;
  // do a font family
  // font-family:  var(--main-font-family);
  letter-spacing: 4px;
  box-shadow: 0 0 10px hsl(var(--main-background-color)),
    0 0 40px hsl(var(--main-background-color)),
    0 0 80px hsl(var(--main-background-color));
  &:hover {
    box-shadow: 0 0 10px hsl(var(--main-font-color)),
      0 0 30px hsl(var(--main-font-color)), 0 0 40px hsl(var(--main-font-color)),
      0 0 70px hsl(var(--main-font-color)), 0 0 90px hsl(var(--main-font-color));
    transition: 0.6s;
  }
  &:before,
  &:after,
  span:before,
  span:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    background: hsl(var(--main-font-color));
    transition: 0.6s;
    mix-blend-mode: difference;
  }
  &:before {
    top: 0;
    left: 0;
  }
  &:after {
    top: 0;
    right: 0;
  }
  span:before {
    bottom: 0;
    left: 0;
  }
  span:after {
    bottom: 0;
    right: 0;
  }

  &:hover:before,
  &:hover:after,
  &:hover span:before,
  &:hover span:after {
    width: 50%;
    height: 50%;
  }
}
